Repository Samsung/TAU, pull requests merged in 2019-08, with the labels that each got.

#293 Expandable list: fix for history change on toggle switch press
  src/css/profile/mobile/changeable/common/expandable.less
  src/js/profile/mobile/widget/mobile/Expandable.js
Labels: 1.1, in review, mobile

#290 IndexScrollbar: Cleaning of white spaces from index
  examples/mobile/UIComponents/components/navigationelements/indexscrollbar.js
  examples/mobile/UIComponents/components/navigationelements/indexscrollbar_floating_button.js
  src/js/profile/mobile/widget/mobile/IndexScrollbar.js
Labels: 1.0, 1.1, in review, mobile

#288 Button: Fix for css classes indicating on using of icon in button
  src/js/core/widget/BaseWidget.js
  src/js/core/widget/core/Button.js
Labels: 1.1, in review, mobile

#292 Listview: fix for color list with embedded lists
  src/js/profile/mobile/widget/mobile/Listview.js
Labels: 1.0, 1.1, in review, mobile

#295 Listview: disable focus on list items when keyboardSupport disabled
  src/js/profile/mobile/widget/mobile/Listview.js
Labels: 1.1, in review, mobile

#303 Remove unnecessary styling
  src/css/profile/wearable/changeable/theme-circle/marquee.less
Labels: 1.0, in review, wearable

#302 Tabbar: Skip action if desired tab is already active
  src/js/core/widget/core/tab/Tabbar.js
Labels: 1.1

#300 Set caret position to last element after textinput focus
  src/js/profile/mobile/widget/mobile/TextInput.js
  src/js/profile/wearable/widget/wearable/TextInput.js
Labels: 1.0, in review

#298 Fix vertical input slider
  src/css/profile/mobile/changeable/common/slider.less
  src/js/core/widget/core/Slider.js
Labels: 1.1, bug, in review

#291 Listview: fix for colored background overshadows text content
  src/css/profile/mobile/changeable/common/listview.less
Labels: 1.1, in review, mobile

#296 Slider: add support for mouse events
  src/js/profile/wearable/widget/wearable/Slider.js
Labels: 1.0, 1.1, code.tizen.org, in review, wearable

#307 PageIndicator: Change conflicting option name
  examples/mobile/UIComponents/components/navigationelements/pageindicator.html
  examples/mobile/UIComponents/components/navigationelements/pageindicatorDotted.html
  src/js/core/widget/core/PageIndicator.js
Labels: 1.0, mobile

#294 DropDownMenu: disable focus when keboardSupport is disabled
  src/js/profile/mobile/widget/mobile/DropdownMenu.js
Labels: 1.1, in review, mobile

#305 Fix for example Processing small in UIComponents
  examples/wearable/UIComponents/contents/controls/processing/small_processing.html
  examples/wearable/UIComponents/contents/controls/processing/small_processing.js
Labels: 1.0, 1.1, in review, wearable

#308 Fix cutted processing full circle
  src/css/profile/wearable/changeable/theme-circle/processing.less
Labels: 1.0, 1.1, wearable

#264 Fix navigation bar - back button not working
  src/js/core/history.js
  src/js/core/router/Router.js
  src/js/core/router/route/panel.js
Labels: in review

#309 Merge fixes from TAU 1.0 to TAU 1.1
  examples/mobile/UIComponents/components/navigationelements/pageindicator.html
  examples/mobile/UIComponents/components/navigationelements/pageindicatorDotted.html
  examples/wearable/UIComponents/contents/controls/processing/small_processing.html
  examples/wearable/UIComponents/contents/controls/processing/small_processing.js
  src/css/profile/wearable/changeable/theme-circle/marquee.less
  src/css/profile/wearable/changeable/theme-circle/processing.less
  src/js/core/history.js
  src/js/core/router/Router.js
  src/js/core/router/route/panel.js
  src/js/core/widget/core/PageIndicator.js
  src/js/profile/mobile/widget/mobile/TextInput.js
  src/js/profile/wearable/widget/wearable/Slider.js
  src/js/profile/wearable/widget/wearable/TextInput.js
Labels: 1.1, in review

#313 Merge commits from 1.1
  examples/mobile/UIComponents/components/navigationelements/indexscrollbar.js
  examples/mobile/UIComponents/components/navigationelements/indexscrollbar_floating_button.js
  src/css/profile/mobile/changeable/common/listview.less
  src/js/profile/mobile/widget/mobile/IndexScrollbar.js
  src/js/profile/mobile/widget/mobile/Listview.js
Labels: in review

#311 Add drawer example and fix incorrect router call in drawer
  examples/mobile/UIComponents/components/navigationelements/drawer.html
  examples/mobile/UIComponents/components/navigationelements/drawer.js
  examples/mobile/UIComponents/components/navigationelements/images/thumbnail.jpg
  examples/mobile/UIComponents/components/navigationelements/index.html
  src/js/core/widget/core/Drawer.js
Labels: 1.0, 1.1, code.tizen.org, doc, examples, in review, mobile

#326 TAU was stopping rotarydetent event propagation
  src/js/core/util/scrolling.js
Labels: 1.0, 1.1, in review, wearable

#319 Change z-index of full processing widget
  src/css/profile/wearable/changeable/theme-circle/processing.less
Labels: 1.0, 1.1, in review, wearable

#320 Change z-index of SnapList highlight
  src/css/profile/wearable/changeable/theme-circle/listview.less
Labels: 1.0, 1.1, in review, wearable

#321 Button: fix for icon position on button without text
  src/js/core/widget/core/Button.js
Labels: 1.0, 1.1, in review, mobile

#224 (wearable) ToggleSlider has changed look
  examples/wearable/UIComponents/contents/controls/toggle.html
  src/css/profile/wearable/changeable/theme-circle/theme.changeable.less
  src/css/profile/wearable/changeable/theme-circle/toggleswitch.less
Labels: 1.0, 1.1, in review

#324 Tabbar: fix for wrong position of Tab underline
  src/css/profile/mobile/changeable/common/tabbar.less
Labels: 1.0, 1.1, in review, mobile

#322 TextInput: fix for postion of clear button icon in search input
  examples/mobile/UIComponents/components/controls/textinput.html
  src/css/profile/mobile/changeable/common/textinput.less
Labels: 1.1, in review, mobile

#325 Header: add possibility to make button with circle style
  examples/mobile/UIComponents/components/headerfooter/header/twoiconscircle.html
  examples/mobile/UIComponents/components/headerfooter/index.html
  src/css/profile/mobile/changeable/common/header.less
  src/js/core/widget/BaseWidget.js
Labels: 1.1, in review, mobile

#330 Add missing class in examples
  examples/wearable/UIComponents/contents/list/arclist_marquee_style.html
  examples/wearable/UIComponents/contents/list/list_marquee_style.html
Labels: 1.0, 1.1, in review, wearable

#334 TAU release 1.1.3
  dist/VERSION
  dist/mobile/js/tau.bundle.js
  dist/mobile/js/tau.js
  dist/mobile/js/tau.min.js
  dist/mobile/js/tau.support-2.3.js
  dist/mobile/js/tau.support-2.3.min.js
  dist/tv/js/tau.bundle.js
  dist/tv/js/tau.bundle.min.js
  dist/tv/js/tau.js
  dist/tv/js/tau.min.js
  dist/wearable/js/tau.bundle.js
  dist/wearable/js/tau.js
  dist/wearable/js/tau.min.js
  package.json
Labels: 1.1, in review

#343 TextInput: added distinguished class for container in depend to input type
  examples/mobile/UIComponents/components/controls/textinput.html
  src/js/profile/mobile/widget/mobile/TextInput.js
Labels: 1.1, DE, in review

#341 Extend Selector remove item API
  src/js/profile/wearable/widget/wearable/Selector.js
Labels: 1.0, 1.1, DE
