Repository Samsung/TAU, pull requests merged in 2020-06, with the labels that each got.

#1148 Print the TAU version on the UIComponent
  examples/mobile/UIComponents/components/etc/about/about.js
  examples/mobile/UIComponents/components/etc/about/index.html
  examples/mobile/UIComponents/components/etc/index.html
Labels: 1.2, enhancement

#1154 Group Index Center (Wearable): examples and style update
  examples/wearable/UIComponents/contents/presentation-views/list/group-index.html
  examples/wearable/UIComponents/contents/presentation-views/list/group-index/index.html
  examples/wearable/UIComponents/contents/presentation-views/list/group-index/multi-center.html
  examples/wearable/UIComponents/contents/presentation-views/list/group-index/single-center.html
  examples/wearable/UIComponents/contents/presentation-views/list/index.html
  src/css/profile/wearable/changeable/theme-circle/listview.less
  src/css/profile/wearable/changeable/theme-circle/theme.changeable.less
Labels: 1.2, in review, wearable

#1171 Group Index Content Page (Wearable): add example and style
  examples/wearable/UIComponents/contents/presentation-views/list/group-index/content-center.html
  examples/wearable/UIComponents/contents/presentation-views/list/group-index/index.html
  src/css/profile/wearable/changeable/theme-circle/layout.less
  src/css/profile/wearable/changeable/theme-circle/listview.less
Labels: 1.2, in review, wearable

#1174 Update .gitignore files to ignore release/debug files
  examples/Android/ScheduleApp/.gitignore
  examples/Android/UIComponents/.gitignore
Labels: in review

#1178 (mobile) Updated images according to the GUI Guide 2.2
  src/css/profile/mobile/common/appbar.less
  src/css/profile/mobile/common/button.less
  src/css/profile/mobile/common/dropdownmenu.less
  src/css/profile/mobile/theme-changeable/images/0_Round_corner/round.svg
  src/css/profile/mobile/theme-changeable/images/10_Search/tw_ic_ab_more_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/13_View_Controls/tw_spinner_mtrl_am_alpha_dark.9.png
  src/css/profile/mobile/theme-changeable/images/13_View_Controls/tw_spinner_mtrl_am_alpha_light.9.png
  src/css/profile/mobile/theme-changeable/images/13_View_controls/tw_spinner_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/15_Notification_Badges/tw_noti_badge_mtrl.9.png
  src/css/profile/mobile/theme-changeable/images/17_Copy_paste/tw_copypaste_cursor_handler_bottom.svg
  src/css/profile/mobile/theme-changeable/images/17_Copy_paste/tw_copypaste_cursor_handler_top.svg
  src/css/profile/mobile/theme-changeable/images/17_Copy_paste/tw_copypaste_select_handler_left.svg
  src/css/profile/mobile/theme-changeable/images/17_Copy_paste/tw_copypaste_select_handler_right.svg
  src/css/profile/mobile/theme-changeable/images/17_Copy_paste/tw_ic_ab_back_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/17_Copy_paste/tw_ic_ab_more_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/1_App_bar/tw_ic_ab_add_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/1_App_bar/tw_ic_ab_back_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/1_App_bar/tw_ic_ab_more_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/1_App_bar/tw_ic_ab_search_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/1_App_bar/tw_ic_bb_delete_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/1_App_bar/tw_ic_bb_move_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/1_App_bar/tw_ic_bb_share_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/3_Controllers/tw_expander_close_mtrl_alpha_dark.9.png
  src/css/profile/mobile/theme-changeable/images/3_Controllers/tw_expander_close_mtrl_alpha_light.9.png
  src/css/profile/mobile/theme-changeable/images/3_Controllers/tw_expander_open_mtrl_alpha_dark.9.png
  src/css/profile/mobile/theme-changeable/images/3_Controllers/tw_expander_open_mtrl_alpha_light.9.png
  src/css/profile/mobile/theme-changeable/images/6_Lists/Round_corner/bottom_left.svg
  src/css/profile/mobile/theme-changeable/images/6_Lists/Round_corner/bottom_right.svg
  src/css/profile/mobile/theme-changeable/images/6_Lists/Round_corner/top_left.svg
  src/css/profile/mobile/theme-changeable/images/6_Lists/Round_corner/top_right.svg
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_list_subheader_divider.svg
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_list_subheader_dot.svg
  src/css/profile/mobile/theme-changeable/images/8_Progress/progress_bar_ind.png
  src/css/profile/mobile/theme-changeable/images/8_Progress/tw_progress_bar_d.9.png
  src/css/profile/mobile/theme-changeable/images/8_Progress/tw_progress_bar_n.9.png
  src/css/profile/mobile/theme-changeable/images/9_Progress/tw_ic_progress_download_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/9_Progress/tw_ic_progress_refresh_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/9_Scrolling/tw_scrollbar_mtrl_dark.9.png
  src/css/profile/mobile/theme-changeable/images/9_Scrolling/tw_scrollbar_mtrl_light.9.png
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_001.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_002.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_003.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_004.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_005.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_006.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_007.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_008.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_009.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_010.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_011.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_012.jpg
Labels: 1.2, in review, mobile

#1184 TimePicker, DataTimePicker: fix for inactive input bg color
  src/css/profile/mobile/common/datetimepicker.less
  src/css/profile/mobile/common/timepicker.less
Labels: 1.2, bug, in review, mobile

#1176 Group Index Left (Wearable): add example and style
  examples/wearable/UIComponents/contents/presentation-views/list/group-index/content-left.html
  examples/wearable/UIComponents/contents/presentation-views/list/group-index/index.html
  examples/wearable/UIComponents/contents/presentation-views/list/group-index/multi-left.html
  src/css/profile/wearable/changeable/theme-circle/layout.less
Labels: 1.2, in review, wearable

#1185 ScheduleApp: add default activities
  examples/mobile/ScheduleApp/js/app.js
Labels: 1.2, ScheduleApp, examples

#1186 DropDownMenu: fix for wrong padding and wrong top margin
  src/css/profile/mobile/common/dropdownmenu.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
Labels: 1.2, in review, mobile

#1194 (examples) ScheduleApp: fix for back button on the Add schedule page
  examples/mobile/ScheduleApp/create-event.html
Labels: 1.2, ScheduleApp, in review

#1195 Spin: fix for scroll stop on drag
  src/js/core/widget/core/Spin.js
  src/js/profile/mobile/widget/DateTimePickerWheel.js
Labels: 1.2, in review, mobile

#1201 Spin: fix for stop scroll on swipe
  src/js/core/event/gesture/Manager.js
  src/js/core/widget/core/Spin.js
  tests/js/core/event/gesture/Manager/Manager.js
Labels: 1.2, bug, in review

#1205 Fixed paddings and bottom margin of toast message
  examples/mobile/UIComponents/components/toast/index.html
  src/css/profile/mobile/common/toast.less
Labels: 1.2, in review, mobile

#1209 (mobile) OnOffSwitch: set constant width and height
  src/css/profile/mobile/common/onoffswitch.less
Labels: 1.2, mobile

#1219 Fix small Time Picker on TV
  src/css/profile/mobile/common/popup.less
Labels: 1.2, mobile

#1220 Fix ui-content-area for TV
  src/css/profile/mobile/common/core.less
Labels: 1.2, ScheduleApp

#1221 (UIComponents) Fix double back action in Dialogs
  examples/mobile/UIComponents/components/dialogs/dialog.js
  examples/mobile/UIComponents/components/dialogs/picker.js
Labels: 1.2, examples, mobile

#1225 (mobile) OnOff Switch: fix for colord border of track
  src/css/profile/mobile/common/onoffswitch.less
Labels: 1.2, in review, mobile

#1226 (mobile) OnOff Switch: fix for drag on disabled switch
  src/js/core/widget/core/OnOffSwitch.js
Labels: 1.2, bug, in review, mobile

#1196 Swipe to Delete (Wearable): add example and implementation
  examples/wearable/UIComponents/contents/presentation-views/list/main/index.html
  examples/wearable/UIComponents/contents/presentation-views/list/main/swipe-to-delete.html
  src/css/profile/wearable/changeable/theme-changeable/images/tw_list_delete_bg.png
  src/css/profile/wearable/changeable/theme-changeable/images/tw_list_delete_ic.png
  src/css/profile/wearable/changeable/theme-circle/arclistview.less
  src/js/profile/wearable/widget/wearable/ArcListview.js
Labels: 1.2, enhancement, in review, wearable

#1235 Let 'npm install' check node and build TAU
  check-node.py
  package.json
Labels: 1.2

#1233 Spin: fix for update spin items
  src/js/core/widget/core/Spin.js
  tests/manualTest/spin/spin.html
  tests/manualTest/spin/spin.js
Labels: 1.2, bug

#1240 Router: fix for click on back button - prevent default action
  src/js/core/history/manager.js
Labels: 1.2, bug

#1247 Load only the length of the item
  src/js/profile/wearable/widget/wearable/ArcListview.js
Labels: 1.2, bug, in review, wearable
