Repository Samsung/TAU, pull requests merged in 2020-08, with the labels that each got.

#1353 Chips: add implementaion and examples
  examples/mobile/UIComponents/components/controllers/chips-add.html
  examples/mobile/UIComponents/components/controllers/chips-add.js
  examples/mobile/UIComponents/components/controllers/chips-basic.html
  examples/mobile/UIComponents/components/controllers/chips-one-row.html
  examples/mobile/UIComponents/components/controllers/chips-vertical-scroll.html
  examples/mobile/UIComponents/components/controllers/chips.html
  examples/mobile/UIComponents/components/controllers/index.html
  src/css/profile/mobile/base.less
  src/css/profile/mobile/common/chip.less
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/mobile.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
  src/js/mobile.js
  src/js/profile/mobile/widget/Chip.js
Labels: 1.2, in review, mobile

#1340 Create example of Add/Delete Button
  examples/mobile/UIComponents/components/controllers/add-delete-button.html
  examples/mobile/UIComponents/components/controllers/index.html
  examples/mobile/UIComponents/css/style.css
  src/css/profile/mobile/base.less
  src/css/profile/mobile/common/button.less
Labels: 1.2, examples, in review

#1355 Listview: reorder items
  examples/mobile/UIComponents/components/controllers/index.html
  examples/mobile/UIComponents/components/list/index.html
  examples/mobile/UIComponents/components/list/reorder-list.html
  examples/mobile/UIComponents/components/list/reorder-list.js
  examples/mobile/UIComponents/css/style.css
  src/css/profile/mobile/common/button.less
  src/css/profile/mobile/common/icon.less
  src/css/profile/mobile/common/listview.less
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/mobile.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
  src/js/profile/mobile/widget/Listview.js
  tests/js/profile/mobile/widget/Listview/Listview.js
Labels: 1.2, in review, mobile

#1359 Creating Grid for Checkbox Images
  examples/mobile/UIComponents/components/controllers/checkbox-image-thumbnail.html
  src/css/profile/mobile/base.less
  src/css/profile/mobile/common/gridview.less
  src/js/profile/mobile/widget/GridView.js
Labels: 1.2, dependent

#1358 Thumbnail grid: changes according to guideline
  examples/mobile/UIComponents/components/controllers/checkbox-thumbnail-list.html
  examples/mobile/UIComponents/components/thumbnail/grid-text-2lines.html
  examples/mobile/UIComponents/components/thumbnail/grid-text.html
  examples/mobile/UIComponents/components/thumbnail/index.html
  examples/mobile/UIComponents/images/Thumbnail/thumbnail_001.jpg
  examples/mobile/UIComponents/images/Thumbnail/thumbnail_002.jpg
  examples/mobile/UIComponents/images/Thumbnail/thumbnail_003.jpg
  examples/mobile/UIComponents/images/Thumbnail/thumbnail_004.jpg
  examples/mobile/UIComponents/images/Thumbnail/thumbnail_005.jpg
  examples/mobile/UIComponents/images/Thumbnail/thumbnail_006.jpg
  examples/mobile/UIComponents/images/Thumbnail/thumbnail_007.jpg
  examples/mobile/UIComponents/images/Thumbnail/thumbnail_008.jpg
  examples/mobile/UIComponents/images/Thumbnail/thumbnail_009.jpg
  examples/mobile/UIComponents/images/Thumbnail/thumbnail_010.jpg
  examples/mobile/UIComponents/images/Thumbnail/thumbnail_011.jpg
  examples/mobile/UIComponents/images/Thumbnail/thumbnail_012.jpg
  examples/mobile/UIComponents/index.html
  src/css/profile/mobile/common/gridview.less
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
  src/js/profile/mobile/widget/GridView.js
  tests/js/profile/mobile/widget/GridView/GridView.js
  tests/js/profile/mobile/widget/GridView/mobile/gridview.js
Labels: 1.2, in review, mobile

#1357 Recalculate the height of scroll when initializing the page
  src/js/profile/wearable/widget/wearable/ArcListview.js
  tests/js/profile/wearable/widget/wearable/ArcListview/ArcListview.js
Labels: 1.2, wearable

#1364 Add a config to enable the circular scrollbar
  src/js/profile/wearable/config.js
  src/js/profile/wearable/widget/wearable/Scrollview.js
Labels: 1.2, in review, wearable
