Repository Samsung/TAU, pull requests merged in 2020-03, with the labels that each got.

#686 Focused title implementation to listview
  examples/wearable/UIComponents/contents/navigationelements/titlebar/index.html
  examples/wearable/UIComponents/contents/navigationelements/titlebar/title-focused-2lines.html
  examples/wearable/UIComponents/contents/navigationelements/titlebar/title-focused.html
  src/css/profile/wearable/changeable/theme-circle/layout.less
  src/js/profile/wearable/widget/wearable/ArcListview.js
  tests/js/profile/wearable/widget/wearable/ArcListview/ArcListview.js
Labels: 1.2, in review, wearable

#712 ArcListview: Go-to-top button
  examples/wearable/UIComponents/contents/content/index.html
  examples/wearable/UIComponents/contents/controls/button/index.html
  examples/wearable/UIComponents/contents/controls/checkbox.html
  examples/wearable/UIComponents/contents/controls/footer/index.html
  examples/wearable/UIComponents/contents/controls/index.html
  examples/wearable/UIComponents/contents/controls/indicator/index.html
  examples/wearable/UIComponents/contents/controls/numberpicker/index.html
  examples/wearable/UIComponents/contents/controls/processing/index.html
  examples/wearable/UIComponents/contents/controls/progress/index.html
  examples/wearable/UIComponents/contents/controls/radio.html
  examples/wearable/UIComponents/contents/controls/selector/index.html
  examples/wearable/UIComponents/contents/controls/slider/index.html
  examples/wearable/UIComponents/contents/controls/spin/index.html
  examples/wearable/UIComponents/contents/controls/toggle.html
  examples/wearable/UIComponents/contents/empty-state/index.html
  examples/wearable/UIComponents/contents/etc/index.html
  examples/wearable/UIComponents/contents/graphs/index.html
  examples/wearable/UIComponents/contents/grid/index.html
  examples/wearable/UIComponents/contents/interactive/index.html
  examples/wearable/UIComponents/contents/list/arclistview/index.html
  examples/wearable/UIComponents/contents/list/index.html
  examples/wearable/UIComponents/contents/moreoptions/index.html
  examples/wearable/UIComponents/contents/navigationelements/index.html
  examples/wearable/UIComponents/contents/navigationelements/sectionchanger/index.html
  examples/wearable/UIComponents/contents/navigationelements/titlebar/index.html
  examples/wearable/UIComponents/contents/popup/index.html
  examples/wearable/UIComponents/contents/popup/popup.html
  examples/wearable/UIComponents/contents/popup/popup_toast.html
  examples/wearable/UIComponents/contents/rotaryevent/index.html
  examples/wearable/UIComponents/index.html
  src/js/core/defaults.js
  src/js/core/widget/core/Page.js
  src/js/profile/wearable/config.js
  src/js/profile/wearable/widget/wearable/ArcListview.js
  src/js/profile/wearable/widget/wearable/Scrollview.js
  tests/js/profile/wearable/widget/wearable/ArcListview/ArcListview.js
Labels: in review

#728 AssistPanel: increasing tests coverage
  src/js/profile/wearable/widget/wearable/AssistPanel.js
  tests/js/profile/wearable/widget/wearable/AssistPanel/AssistPanel.html
  tests/js/profile/wearable/widget/wearable/AssistPanel/AssistPanel.js
  tests/js/profile/wearable/widget/wearable/AssistPanel/test-data/sample.html
  tests/karma/single.conf.js
  tests/karma/single.test.path.js
  tests/karma/testPaths.js
Labels: 1.2, test, wearable

#732 Fonts: update font-family according to guideline
  examples/mobile/UIComponents/components/units/fonts.html
  examples/mobile/UIComponents/components/units/index.html
  examples/mobile/UIComponents/components/units/units.html
  examples/mobile/UIComponents/css/style.css
  examples/mobile/UIComponents/index.html
  src/css/profile/mobile/common/appbar.less
  src/css/profile/mobile/common/button.less
  src/css/profile/mobile/common/jquery.mobile.theme.less
  src/css/profile/mobile/common/textinput.less
  src/css/profile/mobile/common/tizen.less
  src/css/profile/mobile/fonts.less
Labels: 1.2, in progress

#744 (mobile) List: Update the UX of the List
  examples/mobile/UIComponents/components/list/basiclist.html
  examples/mobile/UIComponents/components/list/index.html
  src/css/profile/mobile/common/core.less
  src/css/profile/mobile/common/listview.less
Labels: 1.2, in review

#743 Colors: verification tools for color check
  examples/mobile/UIComponents/components/themes/colors.html
  examples/mobile/UIComponents/components/themes/colors.js
  examples/mobile/UIComponents/components/themes/index.html
  examples/mobile/UIComponents/components/themes/themes.html
  examples/mobile/UIComponents/components/themes/themes.js
  examples/mobile/UIComponents/index.html
  src/js/core/theme/themeManager.js
Labels: 1.2

#746 Button: update flat button styles according to guideline
  src/css/profile/mobile/common/button.less
Labels: 1.2, mobile

#754 Fixing wearable slider styling in new version.
  src/css/profile/wearable/changeable/theme-changeable/theme.color.less
  src/css/profile/wearable/changeable/theme-circle/circleprogressbar.less
  src/js/profile/wearable/widget/wearable/CircleProgressBar.js
  src/js/profile/wearable/widget/wearable/Slider.js
Labels: in review

#752 List (mobile): Update the UX of the List
  examples/mobile/UIComponents/components/list/basiclist.html
  src/css/profile/mobile/base.less
  src/css/profile/mobile/common/listview.less
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/common/tizen.less
  src/css/profile/mobile/theme-changeable/theme.font.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
  src/css/profile/mobile/themes/themes.less
Labels: 1.2, mobile

#756 On-Off Switch: fix for example in UIComponents
  examples/mobile/UIComponents/components/controllers/onoffswitch.html
Labels: 1.2, mobile

#763 Appbar (Mobile): Change back button to link
  examples/mobile/UIComponents/components/appbar/actionButton/actionButtonAddAndSearch.html
  examples/mobile/UIComponents/components/appbar/actionButton/actionButtonText.html
  examples/mobile/UIComponents/components/appbar/actionButton/actionButtonTextText.html
  examples/mobile/UIComponents/components/appbar/navigateUpButton.html
Labels: 1.2, mobile

#748 Contained Button: changes according to guideline
  src/css/profile/mobile/common/button.less
Labels: 1.2, mobile

#687 Reposition sections when setActiveSection API is called by app creator
  src/js/core/widget/core/SectionChanger.js
  src/js/core/widget/core/Tabs.js
Labels: 1.0, 1.1, 1.2

#767 Master On/Off: implementation of listview extension
  examples/mobile/UIComponents/components/controllers/index.html
  examples/mobile/UIComponents/components/controllers/master-onoffswitch.html
  examples/mobile/UIComponents/components/controllers/onoffswitch.js
  src/css/profile/mobile/common/masteronoffswitch.less
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/mobile.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
  src/js/core/widget/BaseWidget.js
  src/js/core/widget/core/MasterOnOffSwitch.js
  src/js/core/widget/core/OnOffSwitch.js
  src/js/mobile.js
Labels: 1.2, PR ready

#772 UIComponents: Update examples of buttons
  examples/mobile/UIComponents/components/buttons/contained/body_area/2-buttons.html
  examples/mobile/UIComponents/components/buttons/contained/body_area/contained-body.html
  examples/mobile/UIComponents/components/buttons/contained/body_area/index.html
  examples/mobile/UIComponents/components/buttons/contained/emphasis/high-emphasis.html
  examples/mobile/UIComponents/components/buttons/contained/emphasis/index.html
  examples/mobile/UIComponents/components/buttons/contained/emphasis/medium-emphasis-list.html
  examples/mobile/UIComponents/components/buttons/contained/emphasis/medium-emphasis.html
  examples/mobile/UIComponents/components/buttons/contained/emphasis/medium-high-emphasis1.html
  examples/mobile/UIComponents/components/buttons/contained/emphasis/medium-high-emphasis2.html
  examples/mobile/UIComponents/components/buttons/contained/index.html
  examples/mobile/UIComponents/components/buttons/contained/list_area/contained-list.html
  examples/mobile/UIComponents/components/buttons/contained/list_area/index.html
  examples/mobile/UIComponents/components/buttons/fab.html
  examples/mobile/UIComponents/components/buttons/flat.html
  examples/mobile/UIComponents/components/buttons/index.html
  examples/mobile/UIComponents/components/controllers/button/fab.html
  examples/mobile/UIComponents/index.html
Labels: 1.2, PR ready

#766 List (mobile): Update List examples to apply changed UX
  examples/mobile/UIComponents/components/list/basiclist.html
  examples/mobile/UIComponents/components/list/expandable/expandable-js.html
  examples/mobile/UIComponents/components/list/index.html
  examples/mobile/UIComponents/components/list/on-off.html
  examples/mobile/UIComponents/components/list/reorder.html
  examples/mobile/UIComponents/components/list/selectall.html
  src/css/profile/mobile/common/groupindex.less
  src/css/profile/mobile/common/listview.less
Labels: 1.2, examples, mobile

#800 Button: Fix for flat button margin on list
  examples/mobile/UIComponents/components/buttons/flat.html
  src/css/profile/mobile/common/button.less
Labels: 1.2, mobile

#801 Button: fix for margin of containted button on list
  examples/mobile/UIComponents/components/buttons/contained/emphasis/high-emphasis.html
  examples/mobile/UIComponents/components/buttons/contained/emphasis/medium-emphasis-list.html
  examples/mobile/UIComponents/components/buttons/contained/emphasis/medium-emphasis.html
  examples/mobile/UIComponents/components/buttons/contained/emphasis/medium-high-emphasis1.html
  examples/mobile/UIComponents/components/buttons/contained/index.html
  examples/mobile/UIComponents/components/buttons/contained/list_area/contained-list.html
  examples/mobile/UIComponents/components/buttons/contained/list_area/index.html
  examples/mobile/UIComponents/components/buttons/flat.html
  src/css/profile/mobile/common/button.less
Labels: 1.2, mobile

#806 Appbar: fix for width of back button in appbar
  src/css/profile/mobile/common/appbar.less
Labels: 1.2, mobile

#799 Update the menu for the Dialogs
  examples/mobile/UIComponents/components/dialogs/dialog.html
  examples/mobile/UIComponents/components/dialogs/index.html
  examples/mobile/UIComponents/components/dialogs/picker.html
  examples/mobile/UIComponents/components/popup/ctxpopup.html
  examples/mobile/UIComponents/components/popup/gridview.html
  examples/mobile/UIComponents/components/popup/gridviewmultiple.html
  examples/mobile/UIComponents/components/popup/images/1.jpg
  examples/mobile/UIComponents/components/popup/moremenufooter.html
  examples/mobile/UIComponents/components/popup/moremenufooter.js
  examples/mobile/UIComponents/components/popup/moremenuheader.html
  examples/mobile/UIComponents/components/popup/moremenuheader.js
  examples/mobile/UIComponents/components/toast/index.html
  examples/mobile/UIComponents/index.html
Labels: 1.2, examples, in review, mobile

#798 Update the menu for the List
  examples/mobile/UIComponents/components/list/basic-list.html
  examples/mobile/UIComponents/components/list/end-of-list/bottom-spacing-fab.html
  examples/mobile/UIComponents/components/list/end-of-list/bottom-spacing.html
  examples/mobile/UIComponents/components/list/end-of-list/index.html
  examples/mobile/UIComponents/components/list/expandable-list.html
  examples/mobile/UIComponents/components/list/expandable/expandable-js.html
  examples/mobile/UIComponents/components/list/expandable/expandable-js.js
  examples/mobile/UIComponents/components/list/expandable/expandable.html
  examples/mobile/UIComponents/components/list/gridview/gridcheck.js
  examples/mobile/UIComponents/components/list/gridview/gridview-with-label-1.html
  examples/mobile/UIComponents/components/list/gridview/gridview-with-label-2.html
  examples/mobile/UIComponents/components/list/gridview/gridview-with-move.html
  examples/mobile/UIComponents/components/list/gridview/gridview-within-popup.html
  examples/mobile/UIComponents/components/list/gridview/gridview.html
  examples/mobile/UIComponents/components/list/gridview/gridview.js
  examples/mobile/UIComponents/components/list/gridview/gridwithbadge.html
  examples/mobile/UIComponents/components/list/gridview/gridwithcheck.html
  examples/mobile/UIComponents/components/list/icon-text-list.html
  examples/mobile/UIComponents/components/list/index.html
  examples/mobile/UIComponents/components/list/list-content-area.html
  examples/mobile/UIComponents/components/list/list-select-check.js
  examples/mobile/UIComponents/components/list/list-width.html
  examples/mobile/UIComponents/components/list/liststyles.html
  examples/mobile/UIComponents/components/list/multiple-selection-list.html
  examples/mobile/UIComponents/components/list/normallist.html
  examples/mobile/UIComponents/components/list/on-off.html
  examples/mobile/UIComponents/components/list/reorder.html
  examples/mobile/UIComponents/components/list/reorder.js
  examples/mobile/UIComponents/components/list/selectall.html
  examples/mobile/UIComponents/components/list/subheader/index.html
  examples/mobile/UIComponents/components/list/subheader/subheader-notext.html
  examples/mobile/UIComponents/components/list/subheader/subheader-text.html
  examples/mobile/UIComponents/components/list/subheader/subheader-without-chunking.html
  examples/mobile/UIComponents/components/list/virtuallist-db-demo.js
  examples/mobile/UIComponents/components/list/virtuallist.css
  examples/mobile/UIComponents/components/list/virtuallist.html
  examples/mobile/UIComponents/components/list/virtuallist.js
  examples/mobile/UIComponents/components/list/virtuallist_1line_btn.html
  examples/mobile/UIComponents/components/list/virtuallist_1line_icon.html
  examples/mobile/UIComponents/components/list/virtuallist_2line_star.html
  examples/mobile/UIComponents/components/list/virtuallist_normal.html
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_list_subheader_divider.svg
Labels: 1.2, examples, in progress, mobile

#804 [mobile] Style active and inactive slider bar
  src/css/profile/mobile/common/slider.less
Labels: 1.2, in review, mobile

#807 Divider (mobile): Add examples for dividers
  examples/mobile/UIComponents/components/dividers/divider-basic.html
  examples/mobile/UIComponents/components/dividers/divider-switch.html
  examples/mobile/UIComponents/components/dividers/icon-text/divider-1line.html
  examples/mobile/UIComponents/components/dividers/icon-text/divider-icon-text-text-only.html
  examples/mobile/UIComponents/components/dividers/icon-text/divider-icon-text.html
  examples/mobile/UIComponents/components/dividers/icon-text/divider-multiline.html
  examples/mobile/UIComponents/components/dividers/icon-text/index.html
  examples/mobile/UIComponents/components/dividers/index.html
  examples/mobile/UIComponents/images/icon-wifidoc.png
  examples/mobile/UIComponents/index.html
  src/css/profile/mobile/common/listview.less
Labels: 1.2, examples, mobile

#811 Change to calculate the margin in list
  src/css/profile/mobile/common/button.less
  src/css/profile/mobile/common/listview.less
Labels: 1.2, mobile

#824 Add active class support for checkbox
  src/js/core/widget/core/Checkbox.js
Labels: 1.2, in review, mobile

#812 Fonts: fix for font definition
  src/css/profile/mobile/common/tizen.less
Labels: 1.2, in review, mobile

#813 AppBar: Bottom bar with text - examples
  examples/mobile/UIComponents/components/appbar/bottom-bar/bottom-bar-text-1-tab.html
  examples/mobile/UIComponents/components/appbar/bottom-bar/bottom-bar-text-2-tabs.html
  examples/mobile/UIComponents/components/appbar/bottom-bar/bottom-bar-text-3-tabs.html
  examples/mobile/UIComponents/components/appbar/bottom-bar/index.html
  examples/mobile/UIComponents/components/appbar/index.html
  src/css/profile/mobile/common/bottombar.less
  src/css/profile/mobile/common/footer.less
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/mobile.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
Labels: 1.2, in review, mobile

#827 Reduce border width to fix the margin issue
  src/css/profile/mobile/common/core.less
Labels: 1.2, in review, mobile

#826 [mobile] Fix ripple effect for on/off switch
  src/css/profile/mobile/common/onoffswitch.less
Labels: 1.2, in review, mobile

#829 Checkbox: added ripple effect and remove deprecated css
  src/css/profile/mobile/common/checkbox.less
Labels: 1.2, in review, mobile

#757 Remove dots from inactive radio according to docs
  src/css/profile/wearable/changeable/common/checkboxradio.less
  src/css/profile/wearable/changeable/theme-changeable/images/Controller_icon/Radio/tw_btn_radio_holo_dark.png
  src/css/profile/wearable/changeable/theme-circle/checkboxradio.less
Labels: in review, wearable

#833 AppBar: Fix for height of text button on bottom bar
  src/css/profile/mobile/common/bottombar.less
Labels: 1.2, in review, mobile

#837 [mobile] Ripple effect for master on/off switch
  src/css/profile/mobile/common/masteronoffswitch.less
  src/js/core/widget/core/MasterOnOffSwitch.js
Labels: 1.2, in review, mobile

#830 AppBar: Bottom bar with text and icon
  examples/mobile/UIComponents/components/appbar/bottom-bar/bottom-bar-text-icon-2.html
  examples/mobile/UIComponents/components/appbar/bottom-bar/bottom-bar-text-icon-3.html
  examples/mobile/UIComponents/components/appbar/bottom-bar/bottom-bar-text-icon-4.html
  examples/mobile/UIComponents/components/appbar/bottom-bar/bottom-bar-text-icon-5.html
  examples/mobile/UIComponents/components/appbar/bottom-bar/index.html
  src/css/profile/mobile/common/bottombar.less
  src/css/profile/mobile/common/button.less
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
Labels: 1.2, in review, mobile

#831 Controllers (mobile): Update example for Checkbox and Radio
  examples/mobile/UIComponents/components/controllers/checkbox.html
  examples/mobile/UIComponents/components/controllers/radio.html
  src/css/profile/mobile/common/listview.less
Labels: 1.2, mobile

#835 Controllers (mobile): Update Switch examples
  examples/mobile/UIComponents/components/controllers/master-onoffswitch.html
  examples/mobile/UIComponents/components/controllers/onoffswitch.html
  src/css/profile/mobile/common/listview.less
Labels: 1.2, mobile

#838 [mobile] Add ripple effect for radio button
  src/css/profile/mobile/common/radio.less
Labels: 1.2, in review

#843 DropDownMenu: added ripple effect to option items
  src/css/profile/mobile/common/dropdownmenu.less
Labels: 1.2, in review, mobile

#840 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: in review

#788 Checkbox: List selected
  examples/mobile/UIComponents/components/list/multiple-selection-list.html
  src/css/profile/mobile/common/listview.less
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
  src/js/profile/mobile/widget/Listview.js
Labels: 1.2, in review, mobile

#854 [mobile] Update button, radio, checkbox in dialog sample
  examples/mobile/UIComponents/components/dialogs/dialog.html
  src/css/profile/mobile/common/popup.less
Labels: 1.2, in review

#848 AppBar: Checkbox All
  examples/mobile/UIComponents/components/list/multiple-selection-list.html
  src/css/profile/mobile/common/appbar.less
  src/js/core/widget/core/Appbar.js
  src/js/profile/mobile/widget/Listview.js
Labels: 1.2, mobile

#862 Apply some corrections to fit the UX guide
  src/css/profile/mobile/common/core.less
  src/css/profile/mobile/common/expandable.less
  src/css/profile/mobile/common/listview.less
Labels: 1.2, in review, mobile

#857 [mobile] Handle touchmove events in DropDownMenu to stop AppBar manipulation
  src/js/profile/mobile/widget/DropdownMenu.js
Labels: in review
