Repository Samsung/TAU, pull requests merged in 2020-05, with the labels that each got.

#1046 Slider focus outline is out of guideline
  src/css/profile/mobile/common/slider.less
Labels: 1.2, in review, mobile

#1048 Drop Down Menu: fix for left position for screen 673+
  src/js/profile/mobile/widget/DropdownMenu.js
Labels: 1.2, in review, mobile

#1047 Contained button: Fix for max width for screen 673+
  examples/mobile/UIComponents/components/buttons/contained/body-area/contained-body.html
  src/css/profile/mobile/common/button.less
Labels: 1.2, in review, mobile

#1044 Checkbox, Radio: animation according to guideline
  Gruntfile.js
  package.json
  src/css/profile/mobile/common/checkbox.less
  src/css/profile/mobile/common/gridview.less
  src/css/profile/mobile/common/radio.less
  src/js/core/widget/core/Checkbox.js
  src/js/core/widget/core/Radio.js
  tools/grunt/tasks/svg-sprites.js
Labels: 1.2, in review, mobile

#1036 List Button (Wearable): add examples and update styles
  examples/wearable/UIComponents/contents/etc/list/list_buttons.html
  examples/wearable/UIComponents/contents/presentation-views/list/index.html
  examples/wearable/UIComponents/contents/presentation-views/list/list-button/button-description.html
  examples/wearable/UIComponents/contents/presentation-views/list/list-button/index.html
  examples/wearable/UIComponents/contents/presentation-views/list/list-button/three-buttons.html
  examples/wearable/UIComponents/contents/presentation-views/list/list-button/two-buttons.html
  examples/wearable/UIComponents/css/style.css
  src/css/profile/wearable/changeable/theme-circle/checkboxradio.less
  src/css/profile/wearable/changeable/theme-circle/listview.less
Labels: 1.2, in review, wearable

#1064 fix svace issue: core/support: remove name of anonymous function
  src/js/core/support.js
Labels: 1.2, in review, svace

#1061 AppBar: Fix for centering of title on extended bar
  examples/mobile/UIComponents/components/appbar/multiline/multiline-title.html
  src/css/profile/mobile/common/appbar.less
  src/js/core/widget/core/Appbar.js
Labels: 1.2, in review, mobile

#1065 List Sub text (Wearable): restore example and update style
  examples/wearable/UIComponents/contents/presentation-views/list/index.html
  examples/wearable/UIComponents/contents/presentation-views/list/sub-text/index.html
  examples/wearable/UIComponents/contents/presentation-views/list/sub-text/sub-text.html
  src/css/profile/wearable/changeable/common/listview.less
  src/css/profile/wearable/changeable/theme-circle/checkboxradio.less
  src/css/profile/wearable/changeable/theme-circle/listview.less
Labels: 1.2, in review, wearable

#1014 Divider (mobile): Fix to apply a GUI feedback
  src/css/profile/mobile/common/listview.less
  src/css/profile/mobile/common/oneui-common.less
Labels: 1.2, in review, mobile

#1049 AppBar: disallow expand for screen below height 579
  src/css/profile/mobile/common/appbar.less
  src/js/core/widget/core/Appbar.js
Labels: 1.2, in review, mobile

#1070 SVACE rules for local SonarLint VSC extension
  sonarlint.rules.json
Labels: 1.2, in review

#1069 DropDown: fix left position depending on screen width
  src/js/profile/mobile/widget/DropdownMenu.js
Labels: 1.2, bug, mobile

#1081 Creating app with two empty pages
  examples/mobile/SchedulingApp/create-event.html
  examples/mobile/SchedulingApp/index.html
  examples/mobile/SchedulingApp/js/app.js
  examples/mobile/SchedulingApp/lib/tau
Labels: in review

#1073 OnOff: add animations and drag support
  src/css/profile/mobile/common/onoffswitch.less
  src/js/core/widget/core/OnOffSwitch.js
Labels: 1.2, mobile

#1084 Add schedule dialog
  examples/mobile/ScheduleApp/.tproject
  examples/mobile/ScheduleApp/config.xml
  examples/mobile/ScheduleApp/create-event.html
  examples/mobile/ScheduleApp/css/style.css
  examples/mobile/ScheduleApp/icon.png
  examples/mobile/ScheduleApp/images/tizen_32.png
  examples/mobile/ScheduleApp/index.html
  examples/mobile/ScheduleApp/js/app.js
  examples/mobile/ScheduleApp/lib/tau
  examples/mobile/SchedulingApp/index.html
  examples/mobile/SchedulingApp/js/app.js
Labels: 1.2, mobile

#1095 (build process) Postcss: increase versions of browser backward compatibility
  Gruntfile.js
Labels: 1.2

#1096 TAU 1.2.4 release
  package.json
Labels: 1.2, in review

#1100 Remove the svg file from the mask-border
  src/css/profile/mobile/common/core.less
Labels: 1.2, in review, mobile

#1082 DateTimePicker: widget implementation and sample
  examples/mobile/ScheduleApp/create-event.html
  examples/mobile/UIComponents/components/dialogs/picker.html
  src/css/profile/mobile/common/datetimepicker.less
  src/css/profile/mobile/mobile.less
  src/js/mobile.js
  src/js/profile/mobile/widget/DateTimePicker.js
Labels: 1.2, mobile

#1090 Implement static elements for the screen 1
  examples/mobile/ScheduleApp/css/style.css
  examples/mobile/ScheduleApp/index.html
Labels: 1.2, in review, mobile

#1098 Page: Bottom round corners
  src/css/profile/mobile/common/core.less
  src/js/core/widget/core/Appbar.js
  src/js/core/widget/core/Page.js
Labels: 1.2, bug, mobile

#1107 example: update Icon Left/Right (Wearable)
  examples/wearable/UIComponents/contents/presentation-views/list/main/icon-left.html
  examples/wearable/UIComponents/contents/presentation-views/list/main/icon-right.html
  examples/wearable/UIComponents/css/images/sample_square_icon.png
  src/css/profile/wearable/changeable/theme-circle/arclistview.less
Labels: 1.2, wearable

#1102 (example) DayOfWeekPicker: new widget and example
  examples/mobile/ScheduleApp/create-event.html
  examples/mobile/ScheduleApp/css/DayOfWeekPicker.css
  examples/mobile/ScheduleApp/index.html
  examples/mobile/ScheduleApp/js/DayOfWeekPicker.js
  src/js/core/widget/core/Appbar.js
Labels: 1.2, examples, mobile

#1109 Spin: lock scroll before drag event on widget
  src/js/core/widget/core/Spin.js
Labels: 1.2, bug, in review

#1113 Spin and Appbar: lockExpanding on Spin drag
  src/js/core/widget/core/Appbar.js
  src/js/core/widget/core/Spin.js
Labels: 1.2, in review

#1106 Create Day of the week indicator
  examples/mobile/ScheduleApp/css/style.css
  examples/mobile/ScheduleApp/index.html
  examples/mobile/ScheduleApp/js/day-indicator.js
Labels: 1.2, examples, in review

#1130 Enable the Dialog and View-Controls
  examples/mobile/UIComponents/components/dialogs/dialog.html
  examples/mobile/UIComponents/components/view-controls/index.html
Labels: 1.2, in review, mobile

#1128 (mobile) Calendar: padding added to calendar in content are
  src/css/profile/mobile/common/calendar.less
  src/css/profile/mobile/common/listview.less
Labels: 1.2, in review, mobile

#1129 (mobile) ScheduleApp: Change DatePicker to Calendar on date click
  examples/mobile/ScheduleApp/create-event.html
  examples/mobile/ScheduleApp/css/style.css
  examples/mobile/ScheduleApp/index.html
  examples/mobile/ScheduleApp/js/app.js
  src/js/profile/mobile/widget/Calendar.js
  src/js/profile/mobile/widget/DateTimePicker.js
Labels: 1.2, ScheduleApp, in review, mobile

#1134 DayOfWeekPicker: fix for button of days look wrong after reopen page
  examples/mobile/ScheduleApp/js/DayOfWeekPicker.js
Labels: 1.2, ScheduleApp, in review, mobile

#1135 OnOffSwitch: fix for broken look after re-open page
  src/js/core/widget/core/OnOffSwitch.js
Labels: 1.2, bug, in review

#1136 BottomBar: fix for text verical align in anchor based button
  src/css/profile/mobile/common/bottombar.less
Labels: 1.2, bug, in review

#1140 Implement changing theme feature using Dropdown menu
  examples/mobile/ScheduleApp/index.html
  examples/mobile/ScheduleApp/js/app.js
Labels: 1.2, in review, mobile

#1126 List Divider (Multiline): add examples and styles
  examples/wearable/UIComponents/contents/presentation-views/list/index.html
  examples/wearable/UIComponents/contents/presentation-views/list/list-divider/divider-sub-text-1.html
  examples/wearable/UIComponents/contents/presentation-views/list/list-divider/divider-sub-text-2-no-padding.html
  examples/wearable/UIComponents/contents/presentation-views/list/list-divider/divider-sub-text-2.html
  examples/wearable/UIComponents/contents/presentation-views/list/list-divider/divider.html
  examples/wearable/UIComponents/contents/presentation-views/list/list-divider/index.html
  src/css/profile/wearable/changeable/theme-circle/checkboxradio.less
  src/css/profile/wearable/changeable/theme-circle/listview.less
  src/css/profile/wearable/changeable/theme-circle/toggleswitch.less
Labels: 1.2, in review, wearable

#1115 ScheduleApp: save data from create event form
  examples/mobile/ScheduleApp/create-event.html
  examples/mobile/ScheduleApp/js/app.js
  examples/mobile/ScheduleApp/second-list.html
  src/js/profile/mobile/widget/DropdownMenu.js
Labels: 1.2, ScheduleApp, mobile
