Repository Samsung/TAU, pull requests merged in 2020-04, with the labels that each got.

#861 [mobile] Click the button in the dialog sample closes
  examples/mobile/UIComponents/components/dialogs/dialog.html
  examples/mobile/UIComponents/components/dialogs/dialog.js
Labels: 1.2, in review

#844 Upate CONTRIBUTING.md with merging policy
  CONTRIBUTING.md
Labels: in review

#797 Add example for radio in proper place
  examples/wearable/UIComponents/contents/user-inputs-elements/controls/radio.html
  src/css/profile/wearable/changeable/theme-circle/checkboxradio.less
Labels: 1.2, in review, wearable

#865 [mobile] Fix setting selected attribute for DropDownMenu
  src/js/profile/mobile/widget/DropdownMenu.js
Labels: in review

#864 AppBar: added hide/show feature for bottom bar on multiple selection list
  examples/mobile/UIComponents/components/controllers/index.html
  src/css/profile/mobile/common/bottombar.less
  src/js/core/widget/core/Appbar.js
Labels: 1.2, in review, mobile

#858 Add list example in the proper place
  examples/wearable/UIComponents/contents/list/index.html
  examples/wearable/UIComponents/contents/presentation-views/index.html
  examples/wearable/UIComponents/contents/presentation-views/list/basic-list.html
  examples/wearable/UIComponents/contents/presentation-views/list/index.html
  examples/wearable/UIComponents/index.html
Labels: in review, wearable

#866 AppBar: Update title according to number of selected items
  src/css/profile/mobile/common/bottombar.less
  src/js/core/widget/core/Appbar.js
Labels: 1.2, in review, mobile

#860 Set touchmove event not to be passive in order to allow preventDefault
  src/js/core/event/gesture/Manager.js
Labels: in review

#820 Spin: Move the Spin component to the core
  src/css/profile/mobile/common/spin.less
  src/css/profile/mobile/mobile.less
  src/js/core/widget/core/Spin.js
  src/js/mobile.js
  src/js/profile/mobile/widget/Spin.js
  src/js/profile/wearable/widget/wearable/NumberPicker.js
  src/js/profile/wearable/widget/wearable/Spin.js
  tests/js/core/widget/core/Spin/Spin.html
  tests/js/core/widget/core/Spin/Spin.js
  tests/js/core/widget/core/Spin/api/Spin.html
  tests/js/core/widget/core/Spin/api/Spin.js
  tests/js/core/widget/core/Spin/test-data/sample.html
  tests/js/profile/mobile/widget/Spin/Spin.html
  tests/js/profile/mobile/widget/Spin/Spin.js
  tests/js/profile/mobile/widget/Spin/test-data/sample.html
  tests/js/profile/wearable/widget/wearable/Spin/api/spin.html
  tests/js/profile/wearable/widget/wearable/Spin/spin.html
  tests/js/profile/wearable/widget/wearable/Spin/spin.js
Labels: 1.2, in review

#856 Dropdown list (Mobile): two lines
  examples/mobile/UIComponents/components/appbar/index.html
  examples/mobile/UIComponents/components/appbar/more-option-list-max-width.html
  src/css/profile/mobile/common/dropdownmenu.less
Labels: 1.2, in review, mobile

#871 Spin: Fixes for issues reported by API tests
  src/js/profile/mobile/widget/Spin.js
  src/js/profile/wearable/widget/wearable/NumberPicker.js
  src/js/profile/wearable/widget/wearable/Spin.js
  tests/js/profile/wearable/widget/wearable/Spin/api/spin.html
  tests/js/profile/wearable/widget/wearable/Spin/api/spin.js
Labels: 1.2, in review, mobile

#882 Move rotary event to the wearable profile
  src/js/core/widget/core/Spin.js
  src/js/profile/wearable/widget/wearable/Spin.js
Labels: 1.2, in review, wearable

#870 Implement wearable general dialog
  examples/wearable/UIComponents/contents/assistviews/popup.html
  examples/wearable/UIComponents/css/style.circle.css
  src/css/profile/wearable/changeable/theme-changeable/images/Popup/tw_ic_popup_btn_bg.png
  src/css/profile/wearable/changeable/theme-changeable/images/Popup/tw_ic_popup_btn_check.png
  src/css/profile/wearable/changeable/theme-changeable/images/Popup/tw_ic_popup_btn_delete.png
  src/css/profile/wearable/changeable/theme-circle/fixedUIStyle.less
  src/css/profile/wearable/changeable/theme-circle/popup.less
Labels: 1.2, in review, wearable

#888 Update mobile image resource
  src/css/profile/mobile/theme-changeable/images/13_View_Controls/tw_spinner_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/3_Controllers/tw_expander_close_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/3_Controllers/tw_expander_open_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_expander_close_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_expander_open_mtrl.svg
Labels: 1.2, in review, mobile

#885 Dropdown list (Mobile): show list without selection
  examples/mobile/UIComponents/components/appbar/more-option-list-max-width.html
  src/js/profile/mobile/widget/DropdownMenu.js
Labels: 1.2, in review, mobile

#881 Slider: implementation of "level-bar" type
  examples/mobile/UIComponents/components/controllers/index.html
  examples/mobile/UIComponents/components/controllers/slider-level-bar.html
  examples/mobile/UIComponents/components/controllers/slider.html
  src/css/profile/mobile/base.less
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/common/slider.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
  src/js/core/widget/BaseWidget.js
  src/js/core/widget/core/Slider.js
Labels: 1.2, in review, mobile

#891 List (mobile): Update expander images
  src/css/profile/mobile/common/expandable.less
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_expander_close_mtrl_alpha_dark.9.png
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_expander_close_mtrl_alpha_light.9.png
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_expander_open_mtrl_alpha_dark.9.png
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_expander_open_mtrl_alpha_light.9.png
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
Labels: 1.2, in review, mobile

#883 Spin (mobile): Applied UX guide for the Spin widget
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/common/spin.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
  src/js/core/widget/core/Spin.js
Labels: 1.2, in review, mobile

#880 Style Text Fields according guideline
  examples/mobile/UIComponents/components/content/index.html
  examples/mobile/UIComponents/components/textfields/index.html
  examples/mobile/UIComponents/components/textfields/textfieldswithoutlabels.html
  examples/mobile/UIComponents/components/textfields/textfieldswithoutlabels.js
  examples/mobile/UIComponents/index.html
  src/css/profile/mobile/common/listview.less
  src/css/profile/mobile/theme-changeable/theme.font.less
Labels: in review

#887 Change listitem according to guide
  examples/wearable/UIComponents/contents/presentation-views/list/basic-list.html
  src/css/profile/wearable/changeable/theme-circle/core.less
  src/css/profile/wearable/changeable/theme-circle/theme.layout.less
Labels: 1.2, in review, wearable

#895 Spin: Add a new option to select the drag target element
  src/js/core/widget/core/Spin.js
  tests/js/core/widget/core/Spin/Spin.js
  tests/js/profile/mobile/widget/Spin/Spin.js
  tests/js/profile/wearable/widget/wearable/Spin/spin.js
Labels: 1.2, core, in review

#901 Spin (mobile): Apply default options for mobile profile
  src/css/profile/mobile/common/spin.less
  src/js/core/widget/core/Spin.js
  src/js/profile/mobile/widget/Spin.js
  tests/js/core/widget/core/Spin/Spin.js
  tests/js/profile/mobile/widget/Spin/Spin.js
Labels: 1.2, in review, mobile

#904 TimePicker (mobile): Implement the TimePicker (12h)
  examples/mobile/UIComponents/components/dialogs/picker.html
  src/css/profile/mobile/common/timepicker.less
  src/css/profile/mobile/mobile.less
  src/js/mobile.js
  src/js/profile/mobile/widget/TimePicker.js
  tests/js/profile/mobile/widget/TimePicker/TimePicker.html
  tests/js/profile/mobile/widget/TimePicker/TimePicker.js
  tests/js/profile/mobile/widget/TimePicker/test-data/sample.html
Labels: 1.2, in review, mobile

#903 [mobile] Fix bottom and top position - dropdown menu issue
  src/js/profile/mobile/widget/DropdownMenu.js
Labels: in review

#906 Implement the toast dialog
  examples/wearable/UIComponents/contents/assistviews/popup-toast.html
  examples/wearable/UIComponents/css/style.circle.css
  src/css/profile/wearable/changeable/theme-changeable/images/Popup/tw_ic_toast_popup_check.png
  src/css/profile/wearable/changeable/theme-changeable/images/Popup/tw_small_toast_popup_bg_01.png
  src/css/profile/wearable/changeable/theme-changeable/images/Popup/tw_small_toast_popup_bg_02.png
  src/css/profile/wearable/changeable/theme-changeable/images/Popup/tw_small_toast_popup_bg_03.png
  src/css/profile/wearable/changeable/theme-changeable/images/Popup/tw_small_toast_popup_btn_check.png
  src/css/profile/wearable/changeable/theme-circle/popup.less
Labels: 1.2, in review, wearable

#810 [mobile] Implement DatePicker calendar view
  src/css/profile/mobile/base.less
  src/css/profile/mobile/common/calendar.less
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/mobile.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
  src/js/mobile.js
  src/js/profile/mobile/widget/Calendar.js
Labels: 1.2, in review, mobile

#918 Move page indicator to a proper place
  examples/wearable/UIComponents/contents/controls/index.html
  examples/wearable/UIComponents/contents/navigationelements/index.html
  examples/wearable/UIComponents/contents/navigationelements/pageindicator/index.html
  examples/wearable/UIComponents/contents/navigationelements/pageindicator/pageindicator-circle.html
  examples/wearable/UIComponents/contents/navigationelements/pageindicator/pageindicator-horizontal.html
  examples/wearable/UIComponents/contents/navigationelements/pageindicator/pageindicator.css
  examples/wearable/UIComponents/contents/navigationelements/pageindicator/pageindicator.js
Labels: in review

#921 Add/restore go-to-top button examples
  examples/wearable/UIComponents/contents/navigationelements/go-to-top-button/go-to-top-button-contents.html
  examples/wearable/UIComponents/contents/navigationelements/go-to-top-button/go-to-top-button-list.html
  examples/wearable/UIComponents/contents/navigationelements/go-to-top-button/index.html
  examples/wearable/UIComponents/contents/navigationelements/index.html
Labels: in review

#923 Move progress and activity examples to a proper place
  examples/wearable/UIComponents/contents/controls/index.html
  examples/wearable/UIComponents/contents/presentation-views/index.html
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/activity-indicator/full_processing.html
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/activity-indicator/index.html
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/activity-indicator/load_more_contents.html
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/activity-indicator/load_more_contents.js
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/activity-indicator/sending.html
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/activity-indicator/small_processing.html
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/activity-indicator/small_processing.js
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/activity-indicator/small_processing_on_list.html
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/index.html
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/progress-indicator/index.html
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/progress-indicator/progress.js
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/progress-indicator/progress_full.html
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/progress-indicator/progress_large.html
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/progress-indicator/progress_medium.html
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/progress-indicator/progress_small.html
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/progress-indicator/progress_thickness.html
Labels: in review

#919 [mobile] Fix the theme part of the dialog
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/common/popup.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
Labels: 1.2, in review, mobile

#927 Update mobile image resource (ver 1.8)
  src/css/profile/mobile/theme-changeable/images/1_App_Bar/tw_ic_bb_move_mtrl.svg
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_list_icon_connections.svg
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_list_icon_display.svg
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_list_icon_notifications.svg
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_list_icon_sound.svg
  src/css/profile/mobile/theme-changeable/images/6_Lists/tw_list_icon_wallpaper.svg
Labels: 1.2, in review, mobile

#924 Fix progress circle
  examples/mobile/UIComponents/components/content/progress/progresscircle.html
  examples/mobile/UIComponents/css/style.css
  src/css/profile/mobile/common/progress.less
Labels: 1.2, in review, mobile

#909 Fix to calculate the height of the Spin widget
  src/css/profile/mobile/common/timepicker.less
  src/js/core/widget/core/Spin.js
  src/js/profile/mobile/widget/TimePicker.js
Labels: 1.2, in review, mobile

#925 [mobile] mark the date select in the calendar view
  src/css/profile/mobile/common/calendar.less
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
  src/js/profile/mobile/widget/Calendar.js
Labels: 1.2, in review, mobile

#910 TimePicker (mobile): Support the 24h format type
  examples/mobile/UIComponents/components/dialogs/picker.html
  src/css/profile/mobile/common/timepicker.less
Labels: 1.2, in review, mobile

#926 Move Grid examples to proper place
  examples/wearable/UIComponents/contents/grid/2-lines-rectangle-horizontal.html
  examples/wearable/UIComponents/contents/grid/2-lines.html
  examples/wearable/UIComponents/contents/grid/index.html
  examples/wearable/UIComponents/contents/grid/indicator.html
  examples/wearable/UIComponents/contents/grid/indicator.js
  examples/wearable/UIComponents/contents/grid/simple.html
  examples/wearable/UIComponents/contents/grid/vertical-2-lines-rectangle.html
  examples/wearable/UIComponents/contents/grid/vertical-2-lines.html
  examples/wearable/UIComponents/contents/grid/vertical-simple.html
  examples/wearable/UIComponents/contents/presentation-views/index.html
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_01.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_02.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_03.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_04.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_05.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_06.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_07.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_08.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_09.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_10.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_11.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_12.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_13.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/images/default/gallery_default_image_14.jpg
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/index.html
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/thumbnails-grid/grid.js
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/thumbnails-grid/index.html
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/thumbnails-grid/thumbnails-grid-gengrid.html
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/thumbnails-grid/thumbnails-grid.html
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/vertical-grid/grid.js
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/vertical-grid/index.html
  examples/wearable/UIComponents/contents/presentation-views/thumbnails/vertical-grid/vertical-circular-grid.html
Labels: 1.2, in review, wearable

#937 UIComponents (Wearable): Move Checkbox to Controls
  examples/wearable/UIComponents/contents/user-inputs-elements/controls/checkbox/checkbox.html
  examples/wearable/UIComponents/contents/user-inputs-elements/controls/checkbox/index.html
  examples/wearable/UIComponents/contents/user-inputs-elements/controls/index.html
  examples/wearable/UIComponents/contents/user-inputs-elements/index.html
Labels: 1.2, in review, wearable

#886 Fix progress-bar according to guide
  examples/mobile/UIComponents/components/content/progress/progressbar.html
  examples/mobile/UIComponents/components/content/progress/progressbar.js
  examples/mobile/UIComponents/components/progress/index.html
  examples/mobile/UIComponents/components/progress/progress-bar/progressbar.html
  examples/mobile/UIComponents/components/progress/progress-bar/progressbar.js
  examples/mobile/UIComponents/index.html
  src/css/profile/mobile/common/progress.less
Labels: in review, mobile

#942 [wearable] Remove unneeded items from Etc
  examples/wearable/UIComponents/contents/etc/index.html
  examples/wearable/UIComponents/contents/etc/webkit.js
Labels: 1.2, in review, wearable

#946 Move Load more contents example to proper place
  examples/wearable/UIComponents/contents/etc/index.html
  examples/wearable/UIComponents/contents/etc/load-more-contents.html
  examples/wearable/UIComponents/contents/etc/load-more-contents.js
  examples/wearable/UIComponents/contents/presentation-views/progress-and-activity/activity-indicator/index.html
Labels: in review

#930 Slider: implementation of Continuous style to slider
  src/css/profile/mobile/common/slider.less
  src/css/profile/mobile/theme-changeable/images/3_Controllers/tw_progress_bar_d.9.png
  src/css/profile/mobile/theme-changeable/images/3_Controllers/tw_progress_bar_n.9.png
Labels: 1.2, in review, mobile

#931 [mobile] Add option to not select past in calendar
  src/css/profile/mobile/common/calendar.less
  src/js/profile/mobile/widget/Calendar.js
Labels: 1.2, in review, mobile

#947 List Group Index (Wearable): update example and style
  examples/wearable/UIComponents/contents/etc/list/index.html
  examples/wearable/UIComponents/contents/etc/list/list_divider.html
  examples/wearable/UIComponents/contents/presentation-views/list/group-index.html
  examples/wearable/UIComponents/contents/presentation-views/list/index.html
  src/css/profile/wearable/changeable/theme-circle/checkboxradio.less
  src/css/profile/wearable/changeable/theme-circle/listview.less
Labels: 1.2, in review, wearable

#933 TimePicker (mobile): Implement 4-15 TimePicker dialog(SIP)
  examples/mobile/UIComponents/components/dialogs/picker.html
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/common/popup.less
  src/css/profile/mobile/common/spin.less
  src/css/profile/mobile/common/timepicker.less
  src/js/profile/mobile/widget/TimePicker.js
Labels: 1.2, in review, mobile

#956 Page transition has been disabled for mobile profile
  src/js/profile/mobile/config.js
  tests/js/core/defaults/mobile/defaults.js
  tests/js/profile/mobile/config/config.js
Labels: 1.2, in review, mobile

#957 Mobile Sample Menu Update
  examples/mobile/UIComponents/components/buttons/index.html
  examples/mobile/UIComponents/components/dialogs/picker.html
  examples/mobile/UIComponents/components/etc/graphs/bar-graph.html
  examples/mobile/UIComponents/components/etc/graphs/dynamic-graph.html
  examples/mobile/UIComponents/components/etc/graphs/index.html
  examples/mobile/UIComponents/components/etc/graphs/static-graph.html
  examples/mobile/UIComponents/components/etc/index.html
  examples/mobile/UIComponents/components/etc/interactive/coverflow/index.html
  examples/mobile/UIComponents/components/etc/interactive/index.html
  examples/mobile/UIComponents/components/etc/interactive/interactive3D/index.html
Labels: 1.2, in review, mobile

#960 AppBar: fix for disable expanding when popup is visible
  src/js/core/widget/core/Appbar.js
Labels: 1.2, in review, mobile

#961 Fix a problem that opacity is not applied on emulator
  src/css/profile/mobile/common/spin.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
Labels: 1.2, in review

#962 Update move and add button image
  src/css/profile/mobile/common/button.less
Labels: 1.2, in review, mobile

#963 TimePicker (mobile): Apply a two digits for minute picker
  src/js/profile/mobile/widget/TimePicker.js
Labels: 1.2, in review, mobile

#965 [mobile] Fix the last date of the previous month in the calendar
  src/js/profile/mobile/widget/Calendar.js
Labels: 1.2, in review, mobile

#966 Modify the Sample Navigation/Recommendations menu
  examples/mobile/UIComponents/components/etc/index.html
  examples/mobile/UIComponents/components/etc/themes/colors.html
  examples/mobile/UIComponents/components/etc/themes/index.html
  examples/mobile/UIComponents/components/etc/themes/themes.html
Labels: 1.2, in review, mobile

#977 (tests) Fix for test of util/polar
  tests/js/core/util/polar/polar.js
  tests/karma/testPaths.js
Labels: 1.2, in review, mobile

#969 List Divider (Wearable): update example and style
  examples/wearable/UIComponents/contents/etc/list/index.html
  examples/wearable/UIComponents/contents/etc/list/list_divide.html
  examples/wearable/UIComponents/contents/presentation-views/list/index.html
  examples/wearable/UIComponents/contents/presentation-views/list/list-divider.html
  src/css/profile/wearable/changeable/theme-circle/listview.less
  src/css/profile/wearable/changeable/theme-circle/theme.colorPalette.less
Labels: 1.2, in review, wearable

#978 TextInput (wearable): Input element is broken with number type
  examples/wearable/UIComponents/contents/controls/text-input.html
  src/css/profile/wearable/changeable/theme-circle/textinput.less
  src/js/profile/wearable/widget/wearable/TextInput.js
Labels: 1.0, in review, wearable

#988 Bottom bar : Fix to apply GUI feedback
  src/css/profile/mobile/common/bottombar.less
Labels: 1.2, in review, mobile

#986 Page (mobile): Fix to calculate the correct size of header
  src/js/core/widget/core/Page.js
Labels: 1.2, in review, mobile

#975 (mobile): Implement a date picker
  examples/mobile/UIComponents/components/dialogs/picker.html
  src/css/profile/mobile/common/datepicker.less
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/common/popup.less
  src/css/profile/mobile/mobile.less
  src/js/core/widget/core/Spin.js
  src/js/mobile.js
  src/js/profile/mobile/widget/DatePicker.js
Labels: 1.2, in review, mobile

#990 On/Off switch : Fix to apply GUI feedback
  src/css/profile/mobile/common/onoffswitch.less
Labels: 1.2, in review, mobile

#991 (UIComponents) Fix for url of link in "contained" button example
  examples/mobile/UIComponents/components/buttons/contained/index.html
Labels: 1.2, in review, mobile

#987 List (mobile): Fix to apply GUI feedback
  src/css/profile/mobile/common/button.less
  src/css/profile/mobile/common/core.less
Labels: 1.2, in review, mobile

#999 [mobile] Fix dialog to GUI feedback
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/common/popup.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
Labels: 1.2, in review, mobile

#996 List (mobile): Fix to apply a GUI feedback part.2
  examples/mobile/UIComponents/components/list/icon-text-list.html
  examples/mobile/UIComponents/components/list/images/tw_list_icon_connections.svg
  examples/mobile/UIComponents/components/list/images/tw_list_icon_display.svg
  examples/mobile/UIComponents/components/list/images/tw_list_icon_notifications.svg
  examples/mobile/UIComponents/components/list/images/tw_list_icon_sound.svg
  examples/mobile/UIComponents/components/list/images/tw_list_icon_wallpaper.svg
  src/css/profile/mobile/common/listview.less
Labels: 1.2, in review, mobile

#1001 UIComponents (TextInput): save data on "Save" button
  examples/wearable/UIComponents/contents/user-inputs-elements/textinput/text-input.js
Labels: 1.2, examples, wearable

#995 Merge TAU 1.1 changes. Fix spell errors revealed by merge
  cSpell.json
  examples/mobile/UIComponents/components/controllers/index.html
  examples/mobile/UIComponents/components/controllers/slider.html
  examples/mobile/UIComponents/components/dividers/divider-switch.html
  examples/mobile/UIComponents/components/etc/graphs/dynamic-graph.js
  examples/mobile/UIComponents/components/list/expandable-list.html
  examples/wearable/UIComponents/contents/etc/graphs/dynamic_graph.js
  examples/wearable/UIComponents/contents/etc/graphs/static_graph.js
  examples/wearable/UIComponents/contents/etc/interactive/interactive3D/index.html
  examples/wearable/UIComponents/contents/navigationelements/assist-panel.html
  examples/wearable/UIComponents/contents/navigationelements/go-to-top-button/go-to-top-button-contents.html
  examples/wearable/UIComponents/contents/user-inputs-elements/pickers/spin-group.js
  examples/wearable/UIComponents/contents/user-inputs-elements/textinput/text-input.html
  package-lock.json
  package.json
  src/css/profile/wearable/changeable/theme-circle/textinput.less
  src/js/core/widget/core/SectionChanger.js
  src/js/core/widget/core/Tabs.js
  src/js/profile/wearable/widget/wearable/TextInput.js
Labels: in review

#1004 (UIComponents) fix for Master On-Off example
  examples/mobile/UIComponents/components/controllers/master-onoffswitch.html
Labels: 1.2, in review, mobile

#1010 UIComponents (OnOffSwitch) : fix Back key operation
  examples/mobile/UIComponents/components/controllers/onoffswitch.html
Labels: 1.2, in review, mobile

#1011 [mobile] Apply Winner screen width to the dialog
  src/css/profile/mobile/common/popup.less
Labels: 1.2, in review, mobile

#1012 Fix for icon color for button in AppBar widget
  src/css/profile/mobile/common/button.less
Labels: 1.2, in review, mobile

#943 MainTab: implementation of widget
  README.md
  examples/mobile/UIComponents/components/view-controls/index.html
  examples/mobile/UIComponents/components/view-controls/main-tab/five.html
  examples/mobile/UIComponents/components/view-controls/main-tab/four.html
  examples/mobile/UIComponents/components/view-controls/main-tab/index.html
  examples/mobile/UIComponents/components/view-controls/main-tab/main-tab-2-items.html
  examples/mobile/UIComponents/components/view-controls/main-tab/main-tab-2-with-appbar.html
  examples/mobile/UIComponents/components/view-controls/main-tab/main-tab-3-items.html
  examples/mobile/UIComponents/components/view-controls/main-tab/main-tab-4-items.html
  examples/mobile/UIComponents/components/view-controls/main-tab/main-tab-5-items.html
  examples/mobile/UIComponents/components/view-controls/main-tab/main-tab-sample.css
  examples/mobile/UIComponents/components/view-controls/main-tab/one-appbar.html
  examples/mobile/UIComponents/components/view-controls/main-tab/one.html
  examples/mobile/UIComponents/components/view-controls/main-tab/three.html
  examples/mobile/UIComponents/components/view-controls/main-tab/two-appbar.html
  examples/mobile/UIComponents/components/view-controls/main-tab/two.html
  package.json
  src/css/profile/mobile/common/core.less
  src/css/profile/mobile/common/maintab.less
  src/css/profile/mobile/common/marquee.less
  src/css/profile/mobile/common/tabbar.less
  src/css/profile/mobile/common/tabs.less
  src/css/profile/mobile/mobile.less
  src/css/profile/mobile/theme-changeable/theme.font.less
  src/js/core/router/route/mainTab.js
  src/js/core/router/route/page.js
  src/js/core/widget/core/MainTab.js
  src/js/core/widget/core/Page.js
  src/js/mobile.js
  tests/karma/all.conf.js
  tests/karma/single.conf.js
Labels: 1.2, in review, mobile

#1008 UIComponents (Pickers): save Date/Time on "Set" button
  examples/wearable/UIComponents/contents/user-inputs-elements/pickers/date-picker.js
  examples/wearable/UIComponents/contents/user-inputs-elements/pickers/time-picker.js
  examples/wearable/UIComponents/contents/user-inputs-elements/pickers/time-picker24.js
Labels: 1.2, examples, in review, wearable

#1006 Fix for getPrefixedStyleValue method
  src/js/core/util/DOM/css.js
Labels: 1.2, in review, svace

#1019 [mobile] Fix padding and dropdown list options height
  src/css/profile/mobile/common/dropdownmenu.less
Labels: in review

#1005 List (mobile): Fix to apply the GUI feedback
  src/css/profile/mobile/common/appbar.less
  src/css/profile/mobile/common/expandable.less
Labels: 1.2, in review, mobile

#1009 List (mobile): Add a height between title and sub text
  src/css/profile/mobile/common/listview.less
Labels: 1.2, in review, mobile

#1020 UIComponents (NumberPicker): save number on "Set" button
  examples/wearable/UIComponents/contents/user-inputs-elements/pickers/numberpicker/accelerated.html
  examples/wearable/UIComponents/contents/user-inputs-elements/pickers/numberpicker/accelerated.js
  examples/wearable/UIComponents/contents/user-inputs-elements/pickers/numberpicker/number-picker.js
  examples/wearable/UIComponents/contents/user-inputs-elements/pickers/numberpicker/simple.html
  examples/wearable/UIComponents/contents/user-inputs-elements/pickers/numberpicker/simple.js
Labels: 1.2, examples, in review, wearable

#1021 Replace localstorage by document.cookie
  src/js/core/router/route/panel.js
Labels: 1.2, in review, mobile

#1007 Fix for browser.ie detect method
  src/js/core/support.js
Labels: 1.2, in review, svace

#1003 Radio/OnOff-Switch Sample update
  examples/wearable/UIComponents/contents/user-inputs-elements/controls/onoff-switch.html
  examples/wearable/UIComponents/contents/user-inputs-elements/controls/radio.html
  examples/wearable/UIComponents/contents/user-inputs-elements/controls/radio.js
Labels: 1.2, in review, wearable

#1030 (svace) ToggleSwitch.extra - remove unnecesary "return"
  src/js/support/mobile/widget/ToggleSwitch.extra.js
Labels: in review, mobile, svace

#1033 Update the sample menu
  examples/mobile/UIComponents/components/dialogs/dialog.html
  examples/mobile/UIComponents/components/dialogs/index.html
  examples/mobile/UIComponents/components/etc/units/fonts.html
  examples/mobile/UIComponents/components/etc/units/units.html
  examples/mobile/UIComponents/components/view-controls/index.html
Labels: 1.2, in review, mobile

#1029 TimePicker (Wearable): update AM/PM on _setValue
  src/css/profile/wearable/changeable/theme-circle/timepicker.less
  src/js/profile/wearable/widget/wearable/TimePicker.js
Labels: 1.2, in review, wearable

#1032 Fix for footer with buttons
  examples/mobile/UIComponents/components/buttons/contained/body-area/2-buttons.html
  src/css/profile/mobile/common/core.less
  src/css/profile/mobile/common/footer.less
Labels: 1.2, in review, mobile

#1024 (svace) Replacing localstorege by document.cookie in PanelChanger
  src/js/core/router/route/panel.js
  src/js/core/util/cookie.js
  src/js/core/widget/core/PanelChanger.js
Labels: 1.2, in review, mobile, svace

#1039 Recover rounded corners on ui-content element
  src/css/profile/mobile/common/core.less
Labels: 1.2, in review, mobile

#1023 [mobile] Show divider dynamically when list scrolls
  src/css/profile/mobile/common/oneui-common.less
  src/css/profile/mobile/common/popup.less
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
  src/js/core/widget/core/Popup.js
Labels: 1.2, UXF, in review, mobile
