Repository Samsung/TAU, pull requests merged in 2020-07, with the labels that each got.

#1255 Change the z-index of more option
  src/css/profile/wearable/changeable/theme-circle/layout.less
Labels: in review, wearable

#1256 Remove items when destroying the widget
  src/js/profile/wearable/widget/wearable/ArcListview.js
Labels: in review, wearable

#1266 HomeTVApp: added drawer on the left side of screen
  examples/mobile/HomeApp/css/style.css
  examples/mobile/HomeApp/images/Hamburger_icon.svg
  examples/mobile/HomeApp/images/tw_list_icon_wallpaper.svg
  examples/mobile/HomeApp/index.html
  examples/mobile/HomeApp/js/app.js
  src/css/profile/mobile/common/drawer.less
  src/css/profile/mobile/theme-changeable/theme.color.less
  src/js/profile/mobile/widget/Drawer.js
Labels: 1.2

#1268 (mobile) Tabs: rounded mask for tabs content
  src/css/profile/mobile/common/tabs.less
Labels: 1.2, bug, in review, mobile

#1273 HomeTV App: disabled pull to refresh
  examples/mobile/HomeApp/css/style.css
Labels: 1.2, bug, in review, mobile

#1272 DropDownMenu: Fix for widget postion in AppBar
  src/css/profile/mobile/common/dropdownmenu.less
  src/js/profile/mobile/widget/DropdownMenu.js
Labels: 1.2, bug, in review, mobile

#1274 Flat Button: fix for wrong color of ripple effect in dark theme
  src/css/profile/mobile/base.less
  src/css/profile/mobile/common/button.less
Labels: 1.2, bug, in review, mobile

#1275 Listview: Subheader - change implementation of subheader line
  src/css/profile/mobile/common/listview.less
Labels: 1.2, in review, mobile

#1259 Initialize the position of the scroller when opening the page
  src/js/profile/wearable/widget/wearable/ArcListview.js
Labels: in review, wearable

#1283 HomeTV App: added TV remote control
  examples/mobile/HomeApp/css/style.css
  examples/mobile/HomeApp/index.html
  src/css/profile/mobile/common/bottombar.less
  src/css/profile/mobile/common/button.less
Labels: 1.2, examples, in review, mobile

#1292 List: remove depreceted images from css code
  src/css/profile/mobile/themes/dark.variables.less
  src/css/profile/mobile/themes/light.variables.less
Labels: 1.2, in review, mobile

#1288 Progress: Changing implementation of indeterminate type
  src/css/profile/mobile/common/progress.less
Labels: 1.2, bug, in review, mobile

#1297 Util: added method "tau.throws()" and added tests for it
  src/js/core/core.js
  src/js/core/util.js
  tests/js/core/core/core.js
  tests/js/core/util/util.js
  tests/karma/all.conf.js
Labels: 1.2, UT, test

#1294 [Home App] Add loading and set fixed height of Weather Widget
  examples/mobile/HomeApp/css/style.css
  examples/mobile/HomeApp/index.html
Labels: 1.2, examples, mobile

#1300 Appbar: increase test coverage
  src/js/core/widget/core/Appbar.js
  tests/js/core/widget/core/Appbar/Appbar.html
  tests/js/core/widget/core/Appbar/Appbar.js
  tests/js/core/widget/core/Appbar/test-data/sample.html
  tests/karma/single.test.path.js
  tests/karma/testPaths.js
Labels: 1.2, UT, in review, test

#1302 Spin: increase test coverage in Karma
  src/js/core/widget/core/Spin.js
  tests/js/core/widget/core/Spin/Spin.js
  tests/js/profile/mobile/widget/Spin/Spin.js
  tests/js/profile/wearable/widget/wearable/Spin/spin.js
  tests/karma/single.test.path.js
  tests/karma/testPaths.js
Labels: 1.2, UT, in review, test

#1308 Drawer: increase test coverage in Karma test runner
  src/js/core/widget/core/Drawer.js
  tests/js/core/widget/core/Drawer/Drawer.html
  tests/js/core/widget/core/Drawer/Drawer.js
  tests/js/core/widget/core/Drawer/test-data/sample.html
  tests/karma/single.test.path.js
  tests/karma/testPaths.js
Labels: 1.2, UT, in review, test

#1316 Delete values that refer to the wrong url
  src/css/profile/mobile/common/navigation.less
  src/css/profile/mobile/common/textenveloper.less
  src/css/profile/mobile/common/toast.less
Labels: 1.2, in review

#1311 DatePicker: increase test coverage in Karma
  src/js/profile/wearable/widget/wearable/DatePicker.js
  tests/js/profile/wearable/widget/wearable/DatePicker/DatePicker.js
Labels: 1.2, UT, in review, test, wearable

#1319 (test) Karma config: set minimal test coverage for lines to 60.48%
  tests/karma/all.conf.js
Labels: 1.2, UT, test

#1317 Fix wrong urls of style and script in appbar
  examples/mobile/UIComponents/components/appbar/multiline-title.html
  examples/mobile/UIComponents/components/appbar/navigate-up-button.html
  examples/mobile/UIComponents/components/appbar/title.html
Labels: 1.2, UIComponents, in review, mobile

#1320 Add back button to the subpages and components
  examples/mobile/UIComponents/components/etc/index.html
  examples/mobile/UIComponents/components/etc/navigationelements/drawer.html
  examples/mobile/UIComponents/components/etc/navigationelements/index.html
  examples/mobile/UIComponents/components/etc/navigationelements/indexscrollbar-floating-button.html
  examples/mobile/UIComponents/components/etc/navigationelements/indexscrollbar.html
  examples/mobile/UIComponents/components/etc/navigationelements/pageindicator-dotted.html
  examples/mobile/UIComponents/components/etc/navigationelements/pageindicator.html
  examples/mobile/UIComponents/components/etc/navigationelements/panel/index.html
  examples/mobile/UIComponents/components/etc/navigationelements/tabs/index.html
  examples/mobile/UIComponents/components/etc/recommendations/detail-list.html
  examples/mobile/UIComponents/components/etc/recommendations/emptystate/empty-state-with-floating-action.html
  examples/mobile/UIComponents/components/etc/recommendations/emptystate/empty-state.html
  examples/mobile/UIComponents/components/etc/recommendations/emptystate/index.html
  examples/mobile/UIComponents/components/etc/recommendations/footer/three-bottom-buttons.html
  examples/mobile/UIComponents/components/etc/recommendations/index.html
  examples/mobile/UIComponents/components/etc/recommendations/textinputwithbutton.html
  examples/mobile/UIComponents/components/etc/themes/colors.html
  examples/mobile/UIComponents/components/etc/themes/index.html
  examples/mobile/UIComponents/components/etc/themes/themes.html
  examples/mobile/UIComponents/components/etc/units/fonts.html
  examples/mobile/UIComponents/components/etc/units/index.html
  examples/mobile/UIComponents/components/etc/units/units.html
  examples/mobile/UIComponents/components/textfields/index.html
  examples/mobile/UIComponents/components/textfields/textfieldswithoutlabels.html
  examples/mobile/UIComponents/components/toast/index.html
  examples/mobile/UIComponents/components/view-controls/dropdownlist/max-width.html
  examples/mobile/UIComponents/components/view-controls/dropdownlist/min-width.html
Labels: 1.2, UIComponents, in review

#1332 Fix bottom button in example
  examples/mobile/UIComponents/components/buttons/contained/emphasis/medium-high-emphasis1.html
Labels: 1.2, UIComponents, in review, mobile

#1333 Update TAU GUI assets 2.3
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_001.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_002.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_003.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_004.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_005.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_006.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_007.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_008.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_009.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_010.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_011.jpg
  src/css/profile/mobile/theme-changeable/images/Thumbnail/thumbnail_012.jpg
Labels: 1.2, in review, mobile

#1321 Toast: Multiline with button & fix for ripple effect
  cSpell.json
  examples/mobile/UIComponents/components/toast/index.html
  src/css/profile/mobile/common/toast.less
Labels: 1.2, bug, in review, mobile

#1331 Floating Action Button: fixes according to the guideline
  examples/mobile/UIComponents/components/buttons/fab.html
  examples/mobile/UIComponents/components/buttons/index.html
  src/css/profile/mobile/common/button.less
Labels: 1.2, bug, in review, mobile

#1338 Expand Button: add examples in Controllers menu
  examples/mobile/UIComponents/components/controllers/expand-button.html
  examples/mobile/UIComponents/components/controllers/index.html
Labels: 1.2, UIComponents, mobile

#1344 HomeTV App: add widget hotel restaurent to app
  examples/mobile/HomeApp/css/style.css
  examples/mobile/HomeApp/images/English_breakfast_2.jpg
  examples/mobile/HomeApp/index.html
  src/css/profile/mobile/common/core.less
Labels: 1.2, examples, in review, mobile

#1345 HomeTV App: add more meals
  examples/mobile/HomeApp/css/style.css
  examples/mobile/HomeApp/images/800px-Korean.cuisine-Bibimbap-01.jpg
  examples/mobile/HomeApp/images/Vegetarian_breakfast_at_Cafe_Cuilles.jpg
  examples/mobile/HomeApp/index.html
Labels: 1.2, examples, in review, mobile

#1349 (HomeTV App) add dummy payment page
  examples/mobile/HomeApp/breakfast-menu.html
  examples/mobile/HomeApp/css/style.css
  examples/mobile/HomeApp/images/270px-Font_Awesome_5_brands_cc-visa.svg.png
  examples/mobile/HomeApp/images/MasterCard_Logo.svg.png
  examples/mobile/HomeApp/payment.html
Labels: 1.2, examples, in review, mobile

#1339 Expandable button: added implementation on Card and examples
  examples/mobile/UIComponents/components/controllers/expand-button.html
  examples/mobile/UIComponents/components/controllers/expandable-card.html
  examples/mobile/UIComponents/css/style.css
  src/css/profile/mobile/common/core.less
  src/css/profile/mobile/common/expandable.less
  src/css/profile/mobile/theme-changeable/theme.color.less
  src/js/profile/mobile/widget/Expandable.js
Labels: 1.2, in review, mobile

#1351 Expand button: expand list in card
  examples/mobile/UIComponents/components/controllers/expand-button.html
  examples/mobile/UIComponents/components/controllers/expandable-card-list.html
  src/css/profile/mobile/common/expandable.less
  src/js/profile/mobile/widget/Expandable.js
Labels: 1.2, in review, mobile

#1352 Expand Button: list with input on expandable list
  examples/mobile/UIComponents/components/controllers/expand-button.html
  examples/mobile/UIComponents/components/controllers/expandable-card-list.html
  examples/mobile/UIComponents/components/controllers/expandable-list-input.html
  src/css/profile/mobile/common/expandable.less
  src/js/profile/mobile/widget/Expandable.js
Labels: 1.2, in review, mobile
